.scrapbookgrid {
  display: grid;
  grid-template-columns:
    [fig1-start]
    9fr
    [portrait-start]
    12fr
    [fig2-start]
    1fr
    [deco-start]
    4fr
    [portrait-end]
    1fr
    [fig1-end]
    6fr
    [deco-end]
    9fr
    [fig2-end];

  grid-template-rows:
    [deco-start]
    minmax(0, 1rem)
    [portrait-start]
    minmax(3rem, 6rem)
    [fig2-start]
    minmax(2rem, 4rem)
    [deco-end]
    minmax(2rem, 4rem)
    [fig1-start]
    minmax(1rem, 2rem)
    [portrait-end]
    minmax(9rem, 18rem)
    [fig2-end]
    minmax(6rem, 12rem)
    [fig1-end];
}

.fig1 {
  grid-area: fig1;
  z-index: -3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fig2 {
  grid-area: fig2;
  z-index: -2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.portrait {
  position: relative;
  grid-area: portrait;
  min-height: 75%;

  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: rgb(0, 0, 0) -5px -5px 30px 40px inset,
    rgba(0, 0, 0, 0.35) 0px 5px 15px;

  overflow: hidden;
}

.portrait__content {
  position: absolute;
  z-index: -1;
}

.portrait__frame {
  position: absolute;
  z-index: 50;
}

.deco {
  z-index: 100;
  grid-area: deco;
  min-height: 75%;
  aspect-ratio: 1;
}
