@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-space-cadet: #1d204d;
  --color-indigo-dye: #1a4a79;
  --color-violet-blue: #444f9f;
  --color-carolina-blue: #6da7ce;
  --color-gold: #d6b551;
  --color-pearl: #e9dcc0;
  --color-lavender: #e1e1eb;

  --color-primary-800: var(--color-space-cadet);
  --color-primary-700: var(--color-indigo-dye);
  --color-primary-600: var(--color-violet-blue);
  --color-primary-500: var(--color-carolina-blue);
  --color-primary-300: var(--color-lavender);
  --color-secondary-500: var(--color-gold);
  --color-secondary-300: var(--color-pearl);

  --color-txt: var(--color-primary-800);
  --color-background: var(--color-primary-300);
  --color-primary: var(--color-primary-500);
  --color-accent: var(--color-secondary-500);

  --fs-100: clamp(0.12rem, calc(0.12rem + 0.15vw), 0.15rem);
  --fs-200: clamp(0.2rem, calc(0.2rem + 0.24vw), 0.24rem);
  --fs-300: clamp(0.33rem, calc(0.33rem + 0.04vw), 0.4rem);
  --fs-400: clamp(0.54rem, calc(0.54rem + 0.625vw), 0.625rem);
  --fs-500: clamp(0.875rem, calc(0.875rem + 1vw), 1rem);
  --fs-600: clamp(1rem, calc(1.42rem + 1.62vw), 1.62rem);
  --fs-700: clamp(1.62rem, calc(2.3rem + 2.6vw), 2.6rem);
  --fs-800: clamp(2.6rem, calc(3.72rem + 4.25vw), 4.25rem);
  --fs-900: clamp(4.25rem, calc(6rem + 6.89vw), 6.89rem);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

body {
  color: var(--color-txt);
  background-color: var(--color-background);
  font-size: var(--fs-500);
  line-height: 1.6;
}

.bg-primary {
  background-color: var(--color-primary);
  color: var(--color-primary-300);
}

.bg-secondary {
  background-color: var(--color-secondary-500);
  color: var(--color-primary-800);
}

.button-primary,
.button-secondary {
  --bg: var(--color-primary-800);
  --txt: var(--color-primary-300);
  --accent: var(--color-primary-600);
  padding-inline: 1em;
  padding-block: 0.5em;
  border-radius: 999px;
  background-color: var(--bg);
  color: var(--txt);
  box-shadow: var(--accent) 0.25em 0.25em;
  transition: 100ms linear;
  outline: solid var(--accent) 0.25em;
  outline-offset: -0.125em;
}

.button-secondary {
  --bg: var(--color-primary-300);
  --txt: var(--color-primary-600);
  --accent: var(--color-primary-600);
}

.button-primary:hover,
.button-secondary:hover {
  box-shadow: var(--accent) 0.125em 0.125em;
  transform: translateY(00.125em);
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(
      var(--padding-inline),
      1fr
    )
    [full-width-end];
}

.content-grid > :not(.breakout) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}
